services:
  client:
    build:
      context: ./client
    container_name: notespace-client
    volumes:
      - ./client:/client
      - /client/node_modules
    restart: always
  server:
    build:
      context: ./server
    container_name: notespace-server
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/mydb
      SPRING_DATASOURCE_USERNAME: sh
      SPRING_DATASOURCE_PASSWORD: 1234
    depends_on:
      - db
    restart: always
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: sh
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: mydb
    volumes:
      - ./data:/var/lib/postgresql/data
      - ./postgreSQL/init.sql:/docker-entrypoint-initdb.d/init.sql
  nginx:
    image: nginx:latest
    container_name: notespace-nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8081:80"
    depends_on:
      - client
      - server
    restart: always
